doctype 5
html(lang='en')
head
  title CytoscapeJS Playground
  link(href='style.css')
body
  #cy
  p#msg Messages
script(src='http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js')
script(src='script.js')