doctype 5
html(lang="en")
  head
    title CytoscapeJS Playground
    link(rel="stylesheet",type="text/css",href="style.css")
    script(src="../components/jquery/jquery.min.js")
    script(src="../components/cytoscape/cytoscape.min.js")

  body
    #cy(style="display: block; font-family: 'helvetica arial sans-serif'; font-size: 14px; height: 80%; left: 0px; line-height: normal; position: absolute; bottom: 0px; width: 1280px;")
    #msg Node Information

    //-script(src="model.js") obsolete?
    script(src="script.js")
    script(src="cyto.js")
